html, body { height: 100%; }

h1 {
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

h2 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

.container-fluid {
    min-height: 100%;
    height:100%;
}

#main_content, #main_table, #dashboard, #video_stream, #avialable_directions{
    min-height: 100%;
    height:100%;
}

#dashboard {
    background-color: #122b40;
    color: white;
}

#avialable_directions {
    background-color: #269abc;
}

#msg{
    font-size: 100px;
    font-family: monospace;
    color: rgba(204, 129, 52, 0.48);
    left: 0;
    margin: auto;
    position: absolute;
    top: 32%;
    Left:40%;
    width: 100%;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
}

#playground {
    height: 100%
}

#cursorImg {
    position:absolute;
    left:0;
    right:0;
}

.redBorder {
    height:100%;
    border: 48px solid red;
}

.out_of_bounds_border{
    border:3px solid red;
}

#msg-box {
    width: 20%;
    margin: auto auto;
    text-align: center;
    display: none;
}

#handImg {
    display:none;
    width: 300px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
}

#countdown {
    display:none;
    width: 300px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
}

#warnBox {
   /* visibility: hidden;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:99;

    box-sizing: border-box;
}

.errorBorder{
    border: 24px solid rgba(204, 10, 0, 1);
}

.warnBorder{
    border: 24px solid rgb(204, 163, 41);
}

#msg-box {
    z-index: 100;
    position: absolute;
    font-size: 32px;
    width: 34%;
}

.warn_text{
    background: #ffe791;
}